:root{
    --mainOpacity: rgba(0, 0, 0, 0.55);
}

.main-color {
background-color: #0087bd ;
}

.home-thread-bg {
    background-color: #e3e3e3 ;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }