:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.main-color {
  background-color: #0087bd;
}

.home-thread-bg {
  background-color: #e3e3e3;
  border-radius: 0.7rem;
}

.home-blog-bg {
  background-color: #dcdee8;
  border-radius: 0.7rem;
}

.home-doctor-of-the-day-bg {
  background-color: #e1dce8;
}

.hospital-cover-image {
  background-image: url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80");
  background-size: cover;
  background-position: center;
  height: 300px; /* Adjust the height as needed */
  position: relative;
}

.hospital-profile-info {
  background-color: aliceblue;
  border-radius: 0.7rem;
}

.hospital-hero-first-image {
  background-image: url("https://images.unsplash.com/photo-1537368910025-700350fe46c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 25em !important;
}

.hospital-hero-second-image {
  background-image: url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 25em !important;
}


.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.card-link-style{
  color: #006398;
  font-weight: bold;
  text-decoration: none;
}

.card-link-style:hover{
  color: #00a1ff;
  font-weight: bold;
  text-decoration: none;
}

.card-hover-style:hover{
  background-color: aliceblue;
  border-radius: 1rem;
  border-color: black;
}

.username-mini-viewer{
  text-decoration: none;
  color: #00c0c0;
}

.username-mini-viewer:hover{
  text-decoration: none;
  color: #004949;
}

.date-time-style{
  font-size: .7em;
}

.vote-button:hover{
  background-color: black;
  color: white;
}


.add-image{
  cursor:pointer;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("images/ThreadView-image/add-image-icon.png");
}

.add-image:hover{
  cursor:pointer;
  height: 60px;
  width: 60px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("images/ThreadView-image/add-image-icon-hover.png");
}

.modal-dialog {
  width: auto;
  max-width: 1280px;
}